@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="text-align: center;">
    <a class="card" style="width: 18rem;" href="../Alumnoes">
        <img class="card-img-top" src="/images/admision.jpg" alt="Card image cap" height="180">
        <div class="card-body">
            <h5 class="card-title">Admisión</h5>
        </div>
    </a>
    <a class="card" style="width: 18rem;" href="../Matricula">
        <img class="card-img-top" src="/images/matricula.jpg" alt="Card image cap" height="180">
        <div class="card-body">
            <h5 class="card-title">Matrícula</h5>
        </div>
    </a>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/reportes.png" alt="Card image cap" height="180">
        <div class="card-body">
            <h5 class="card-title">Reportes</h5>
        </div>
    </div>
    <a class="card" style="width: 18rem;" href="../Usuarios">
        <img class="card-img-top" src="/images/personal.jpg" alt="Card image cap" height="180">
        <div class="card-body">
            <h5 class="card-title">Ingreso Personal</h5>
        </div>
    </a>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/ajustes.jpg" alt="Card image cap" height="180">
        <div class="card-body">
            <h5 class="card-title">Ajustes</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/nosotros.png" alt="Card image cap" height="180">
        <div class="card-body">
            <h5 class="card-title">Acerca de Nosotros</h5>
        </div>
    </div>
</div>