@{
    ViewData["Title"] = "Restablecer confirmación de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Tu contraseña ha sido restablecida. Por favor <a asp-action="Login"> Haga clic aquí para ingresar</a>.
</p>
