@model IEnumerable<WebIntranetSR.Models.Alumno>

@{
    ViewData["Title"] = "Validar Alumno";
}
<h2>Validar Alumno</h2>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">DNI</label>
            <input type="email" class="form-control" id="inputEmail4" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Nombre</label>
            <input type="text" class="form-control" id="inputPassword4" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputAddress">Apellido Paterno</label>
            <input type="text" class="form-control" id="inputAddress" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputAddress2">Apellido Materno</label>
            <input type="text" class="form-control" id="inputAddress2">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Grado</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Sección</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Edad</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Dirección</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Ubigeo</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Estado</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
